*{
    --primary-color: #007bff;
}
body {
    background-color: #111;
    color: #eee;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.container {
    width: 100%;
    max-width: 550px;
    background: #1c1c1c;
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0 0 25px rgba(0,0,0,0.5);
}

h1 {
    text-align: center;
    margin-bottom: 25px;
}

.hero{
    width: 100%;
    margin: 0 0 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-text a{
    color: var(--primary-color);
    text-decoration: none;
}
.header-image{
    width: 100%;
    height: auto;
}
.disclaimer-label{
    display: flex;
    align-items: space-around;
    background-color: #333;
    padding: 0 25px 0 25px;
    border-radius: 8px;
    font-weight: bold;
}
.disclaimer-title{
    margin-right: 25px;
    color: var(--primary-color);
}
.disclaimer-icon{
    width:  80px;
    height: 80px;
}


.question {
    margin: 0 0 5% 0;
}
.question p {
    font-weight: bold;
    margin-bottom: 6px;
}

small {
    color: #999;
    display: block;
    margin-bottom: 6px;
}

.buttons button {
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
    border-radius: 6px;
    padding: 6px 15px;
    margin-right: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.buttons button#inputSexM.active{
    background-color: rgb(39, 123, 219);
}

.buttons button#inputSexF.active{
    background-color: rgb(246, 130, 250);
}

.buttons button.active {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.buttons button:hover {
    background-color: #555;
}

.dropdown, input[type="number"], .slider {
    width: 100%;
    background: #222;
    color: white;
    border: 1px solid #444;
    border-radius: 6px;
    padding: 6px;
}

.slider-labels {
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
    color: #aaa;
}

.submit-btn {
    width: 100%;
    background: var(--primary-color);
    border: none;
    border-radius: 8px;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 20px;
}

.submit-btn:hover {
    background: var(--primary-color);
}

.bmi-text {
    font-size: 0.9em;
    color: #ccc;
    margin-bottom: 10px;
}

.result {
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px;
}

#bmiType,
#weightInput,
#heightInput {
    display: inline-block;
    width: 32%;
    margin: 0 2% 0 2%;
}

#bmiQuestions {
    display: flex;
    flex-direction: row;
}


.footer{
    margin: 40px 0 -15px 0;
    text-align: center;
}
.footer a{
    color: var(--primary-color);
    text-decoration: none;
}
